::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #bbb;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    background-image: url('../images/login1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border-radius: 0.4rem;
    transition: all 0.5s ease-in;
    border: 0px;
    text-align: center;
    padding: 1rem;
    background-color: rgba(233, 233, 244, 0.3);
}

.section-header {
    display: flex;
    margin-bottom: 3rem;
}

.section-body {
    width: 100%;
    overflow-y: scroll;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    font-weight: bolder;
    border: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    background-color: #111;
    color: #fff;
}

button:hover {
    background-color: #FFf;
    color: #111
}

.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    backdrop-filter: saturate(100%) blur(1px);
    background-color: rgba(255, 255, 255, 0.2);
}

table {
    padding: 0.4rem;
    transition: all 0.5s ease-in;
    border-spacing: 1rem 1rem;
    width: 100%;
    background-color: white;
    border-radius: 0.5rem;
}


table th {
    background-color: #eeee;
    border-radius: 1rem;
    padding: 0.4rem;
    font-weight: bolder;
    font-size: 1.2rem;
}

table td {
    padding: 1rem;
    border-bottom: 1px #efefef solid;

}

.btn-delete {
    background-color: #b02453;
}

.title {
    background-color: #FFf;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: larger;
}