::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #efefef;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #bbb;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

* {
    margin: 1px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16  px;
}

body {
    background-image: url('../images/applicant1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}

.section {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90%;
    border-radius: 0.4rem;
    transition: all 0.5s ease-in;
    border: 0px;
    text-align: center;
    padding: 1rem;
    background-color: rgba(233, 233, 244, 0.3);
    font-family: sy;
}

.section-header {
    display: flex;
    margin-bottom: 3rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: sy;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    overflow-y: scroll;
    padding: 1rem;
    padding-top: 1.5rem;
}

.card {
    background-color: rgb(18, 35, 32 , 53%);
    box-shadow: 0 0 9px 0px rgb(238 243 246);
    padding: 1rem;
    border-radius: 0.3rem;
    max-width: 80px;
    min-width: 44%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in;
}

.card:hover {
    transform: scale(1.07);
    box-shadow: 0 0 3px 0px #111;
    cursor: pointer;
}

.card-header {
    margin-bottom: 1.5rem;
}

.card-footer {
    display: flex;
    justify-content: flex-end;
}


.card-body {
    display: flex;
    text-align: left;
}


button {
    font-weight: bolder;
    margin: 0 0.5rem;
    border: 0;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
    background-color: #ffc107;
    color: #051e22;
}

.button:hover {
    background-color: #FFf;
    color: #111
}

.card p2 {
    color: #fff;
}

.card p1{
    color:#ffc107;
}
.blur {
    box-shadow: inset 0px 0px 2px #fefefed1;
    backdrop-filter: saturate(100%) blur(1px);
    background-color:#1111116b;
}

main{
    height: 100%;
}