.footer{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 58px; 
    color: #ffc107; 
    background-color: #113e45;
    font-size: 20px;
}