nav {
    height: 50px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 30px;
    position: relative;
}

nav ul {
    height: 100%;
    list-style: none;
    margin: 0;
    background-color:#113e45;
}

nav ul li {
    margin: 0;
    float: right;
    height: 142%;
}

nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 16px 30px;
    margin: unset;
    text-align: bottom;
    font-size: 15px;
    font-weight:600

}

nav li a:hover {
    color: #dbe08c;
    transition: 0.5s;
}

.name{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bold;
    padding: 13px 10px;
    float: left;
    color: #ffc107;
}
